<div class="p1">
  <div class="p1text">
    <p>Mitsubishi</p>
    <h1>The History Of Lancer Evolotion</h1>
    <h2>A bona fide performance heritage</h2>
  </div>
</div>
<div class="p2">
  <h4>
    To this day the Mitsubishi Lancer and Lancer Evolution - retired from the
    Mitsubishi lineup in 2017 and 2015, respectively - continue to garner
    attention from automotive enthusiasts everywhere.
  </h4>
  <p>
    Known as an affordable and dependable compact sedan, the sporty Lancer was
    loads of fun to drive. Meanwhile the Lancer Evolution, popular on the world
    rally scene, established itself as a performance workhorse that put other
    sportscars in its rearview mirror, and a smile on its drivers faces.
  </p>
</div>
<hr
  style="
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    margin-bottom: 60px;
  "
/>
<div class="p3">
  <h3>The Lancer Is no Longer in Production</h3>
  <p>
    But its legacy lives on through the passion of our drivers and our
    innovative, ambitious lineup. Sign up to our newsletter for more exciting,
    exclusive Mitsubishi content, blogs and updates.
  </p>
</div>
<hr
  style="
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    margin-bottom: 60px;
  "
/>
<div class="lancerfaq">
  <h1>Lancer FAQ</h1>

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What kind of car was the Mitsubishi Lancer, and how was it different
          <br />
          from the Lancer Evolution and Lancer Evolution X?
        </mat-panel-title>
        <mat-panel-description style="margin-left: 10px">
          More info...
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        While the Lancer and Lancer Evolution were based on the same platform
        and shared the same DNA, there were many differences between the two
        cars, with power, drivetrain (FWD vs AWD), and a stiffer suspension on
        Lancer Evolution being some of the key differentials. The Lancer
        Evolution X was Evolution's tenth and last-generation model.
      </p>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Does Mitsubishi still make the Lancer or Lancer
          Evolution?</mat-panel-title
        >
        <mat-panel-description style="margin-left: 80px">
          More info...
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Mitsubishi discontinued production of the Lancer and Lancer Evolution.
        However, due to popular demand in China and Taiwan, the Lancer nameplate
        lives on in these markets with the Lancer EX sport sedan.
      </p>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Why did Mitsubishi discontinue the Lancer and Lancer
          Evolution?</mat-panel-title
        >
        <mat-panel-description style="margin-left: 33.5px">
          More info...
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        As efficiency and versatility became increasingly important to
        consumers, Mitsubishi decided to focus their efforts on crossover
        vehicles or hybrid cars in order to meet customer demand.
      </p>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What engine was in the Lancer Evolution, and just how fast was
          it?</mat-panel-title
        >
        <mat-panel-description style="margin-left: 25px">
          More info...
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Before being discontinued, the 2015 Lancer Evolution featured a
        turbocharged 291-hp MIVEC engine and Mitsubishi's Super All-Wheel
        Control technology. The farewell model - Lancer Evolution Final Edition
        - boasted 303 hp and 305 lb-ft of torque, with an estimated top speed of
        155 mph. Lancer Evolution utilized a variety of engines based on the
        best Mitsubishi technology of the time. From 1992-2006 it supported a
        4G63 turbocharged engine. From 2008-2015 the 4B11 turbocharged engine
        was the game changer.
      </p>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Will Mitsubishi ever bring back the Lancer or Lancer
          Evolution?</mat-panel-title
        >
        <mat-panel-description style="margin-left: 51px">
          More info...
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        There are no plans to bring back the Lancer or Lancer Evolution.
        Mitsubishi remains focused on crossover and hybrid car segments.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<hr
  style="
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    margin-bottom: 60px;
  "
/>

<img
  style="width: 100vw"
  src="https://www.mitsubishicars.com/content/dam/mitsubishi-motors-us/images/siteimages/up-to-speed/lancer-history/Mitsubishi-Lancer-Tested-1-d.jpg?width=1440&auto=webp&quality=70"
  alt=""
/>

<div class="p4">
  <p>MITSUBISHI LANCER</p>
  <h2>Time-Tested. Road-Proven.</h2>
  <h4>
    The Mitsubishi Lancer - named after a soldier of the cavalry regiment in
    Europe's knightly age-debuted on the world stage in 1973.
  </h4>
  <p>
    Styled for superior aerodynamic drag and a robust monocoque chassis for
    increased performance, the very first Lancer was powered by engines using
    Mitsubishi Clean Air technology. It was the first 1973 model to be certified
    as having a low-pollution engine by the U.S. Environmental Protection
    Agency. After nearly three decades and a successful run in Europe and Asia,
    the Lancer launched in the United States in 2001, powered by a 2.0-liter
    engine producing 120 hp and 130 lb-ft of torque.
  </p>
</div>
<hr
  style="
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    margin-bottom: 60px;
  "
/>
<img
  style="width: 100vw"
  src="https://www.mitsubishicars.com/content/dam/mitsubishi-motors-us/images/siteimages/up-to-speed/lancer-history/Mitsubishi-Lancer-Tested-2.jpg?width=1440&auto=webp&quality=70"
  alt=""
/>

<div class="p5">
  <p>
    Over the years Lancer's popularity grew as additional, more powerful trims
    and models - such as the Lancer GT, Lancer Ralliart, Lancer Sportback LS and
    Lancer Sportback Ralliart - were added to the line, bridging the gap between
    the Lancer's base model and its high-performance sibling: Lancer Evolution.
  </p>
  <p>
    Slowly, however, market demand started shifting towards vehicles offering
    greater versatility and space, and cars with smaller environmental
    footprints. In 2017, Mitsubishi decided to stop production of the Lancer and
    shift its focus over to crossovers and SUVs, as well as electric and hybrid
    powertrains.
  </p>
  <h4>
    Today, Lancer's performance legacy continues to endure with Mitsubishi's
    versatile crossovers and efficient city cars.
  </h4>
</div>

<hr
  style="
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    margin-bottom: 60px;
  "
/>

<img
  style="width: 100vw"
  src="https://www.mitsubishicars.com/content/dam/mitsubishi-motors-us/images/siteimages/up-to-speed/lancer-history/Mitsubishi-Lancer-Evolution-1-d.jpg?width=1440&auto=webp&quality=70"
  alt=""
/>

<div class="p6">
  <p>MITSUBISHI LANCER EVOLUTION</p>
  <h2>Street Legend</h2>
  <h4>
    The first Mitsubishi Lancer Evolution was launched in 1992 - rally-bred from
    its inception.
  </h4>
  <p>
    To make it ultra-competitive, Mitsubishi took the lightweight Lancer,
    reduced its weight even further, increased body and suspension rigidity and
    powered it with a 4G63-type intercooler turbo engine delivering torque
    through a 4WD system. The initial production run for racing certification
    sold out within days.
  </p>
  <p>
    It wasn't until 2003, however - after honing its performance history over
    several generations in Europe and Asia - that the Lancer Evolution became
    available in the United States, promising a thrill ride like no other. By
    that time, due to the popularity of certain video games and appearances in
    several Hollywood movies, the Lancer Evolution already had quite the
    following.
  </p>
</div>

<hr
  style="
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    margin-bottom: 60px;
  "
/>

<img
  style="width: 100vw"
  src="https://www.mitsubishicars.com/content/dam/mitsubishi-motors-us/images/siteimages/up-to-speed/lancer-history/Mitsubishi-Lancer-Evolution-2-d.jpg?width=1440&auto=webp&quality=70"
  alt=""
/>

<div class="p7">
  <p>
    Each successive iteration of the car received new creative thinking: more
    power, more weight savings, brakes a little deeper, apex clipped a little
    tighter, built to come out of corners a little harder. Many Lancer Evolution
    features, like Super All-Wheel Control (S-AWC), were fined tuned and
    introduced to other Mitsubishi vehicles.
  </p>
  <p>
    But all races must come to a stop. And in 2015, Mitsubishi announced the
    Lancer Evolution X would be its final one. To give it a special send-off,
    Mitsubishi decided to create a limited farewell edition: the Lancer
    Evolution FE. Individually numbered-and collectively desired - the Final
    Edition was backed by a 303 hp engine. It was the kind of performance that
    ate bigger, thirstier V6s for breakfast.
  </p>
  <h4>
    The end of an era? Not exactly. Mitsubishi is continuously working to
    incorporate its performance heritage into its crossover and electric vehicle
    segments. And the future promises to be as exciting as the past.
  </h4>
</div>

<hr
  style="
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    margin-bottom: 60px;
  "
/>

<div class="p8">
  <h1>Mitsubishi Lancer Timeline</h1>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="1973 Lancer's Big Debut"
      ><p>
        The first-generation Lancer launches as a two and four door compact
        sedan in Europe and Asia. In Lancer's debut year, the Lancer 1600GSR
        dominates the Australian Southern Cross Rally with a
        First-Second-Third-place sweep, garnering Mitsubishi Motors' fourth
        Rally title overall.
      </p></mat-tab
    >
    <mat-tab label="1992 Lancer Evolution: Born to Win"
      ><p>
        The Iconic Lancer Evolution launches in Europe and Asia, and goes on to
        win many World Rally Champioship, track racing and hill climb titles.
      </p></mat-tab
    >
    <mat-tab label="1998 WRC Championship"
      ><p>
        Tommi Mäkinen wins a record four consecutive WRC Driver's Championships
        from 1996 to 1999, while Mitsubishi claims the WRC Manufacturer's
        Championship in 1998, all with multiple generations of the Lancer
        Evolution.
      </p></mat-tab
    >
  </mat-tab-group>

  <br /><br />

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="2001 Lancer Arrives in America"
      ><p>
        Styled with a rally racing-inspired design, the Lancer launches in the
        U.S. as a replacement for the Mirage. Three models are available: ES,
        LS, and O-Z® Rally, in either manual or automatic transmissions.
      </p></mat-tab
    >
    <mat-tab label="2003 Lancer Evolution's American Debut"
      ><p>
        The All-Wheel-Control equipped Lancer Evolution arrives in the United
        States, and is awarded Automobile magazine's 2003 Automobile of the
        Year.
      </p></mat-tab
    >
    <mat-tab label="2004 New Models Are Added"
      ><p>
        Choosing a new Lancer becomes a bit more challenging as the new Lancer
        Ralliart, Lancer Sportback LS and Lancer Sportback Ralliart are added to
        the Mitsubishi family.
      </p></mat-tab
    >
  </mat-tab-group>

  <br /><br />

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="2007 Lancer Evolution X"
      ><p>
        The last generation model, Lancer X, launches. Deemed one of the most
        advanced AWD systems in the world, it wins Car of the Year in Japan.
      </p></mat-tab
    >
    <mat-tab label="2015 One of a Kind. Last of a Kind"
      ><p>
        Mitsubishi announces the last - and limited - version of Lancer
        Evolution: The Lancer Evolution FE (Final Edition). In the U.S. only
        1600 are available, and the very first Evolution FE is auctioned off on
        eBay to benefit the National Multiple Sclerosis Society.
      </p></mat-tab
    >
    <mat-tab label="2017 Lancer Production Ends"
      ><p>
        In August of 2017 production of the Mitsubishi Lancer ends, two years
        after the sunsetting of the iconic Lancer Evolution. The Mitsubishi
        Mirage remains to serve the demands of the small sedan market.
      </p></mat-tab
    >
  </mat-tab-group>
</div>
